@import url('https:fonts.googleapis.com/css?family=Quicksand:400,300,700');
p, h2, h5, li{
    font-family: "Quicksand", sans-serif;
}

/* AGR FOI?*/

html{
    scroll-behavior: smooth;
}

.carousel-item img {
    width: 100%; /* Define a largura das imagens como 100% */
    height: 85vh; /* Permite que a altura seja ajustada proporcionalmente à largura */
}

/* Sombreado CIANO*/
.sombreado{
    text-shadow: 0 0 5px #000000;
}

/*Cor dos títulos e sub-títulos*/
h2, h4, li, th, .modal-title, .cor_tema{
    color:#00BFFF;
}

.login_form{
    height: 100vh;
}